<section *ngIf="!showDetailsView">
  <span *ngFor="let stay of allStays" class="inline-style">
    <p class="p-title">{{stay.title}}</p>
    <img class="img-attributes" [src]="stay.imgUrl" alt="Stay Image" (click)="navigateToDetails(stay._id)">
  </span>
</section>



<section *ngIf="showDetailsView">
  <div class="details-container">
    <div class="image-section">
      <img class="img-attributes inline-style" [src]="stayDetails.imgUrl" alt="Stay Image">
    </div>
    <div class="details-section">
      <h2>{{ stayDetails.description }}</h2>
      <div class="flex-1">
        <p>Price Per Night: ${{ stayDetails.price }}</p>
      </div>
      <div class="flex-1">
        <p>Room Type: {{ stayDetails.roomType }}</p>
      </div>
      <div class="flex-1">
        <p>Amenities: {{ stayDetails.amenities.join(', ') }}</p>
      </div>
      <div class="flex-1" *ngIf="stayDetails.guestId">
        <p>Guest Name: {{stayDetails.guestName }}</p>
      </div>
      <div class="flex-1" *ngIf="stayDetails.guestId">
        <p>Guest Contact : {{stayDetails.guestPhone}}</p>
      </div>

      <div class="flex-1">
        <p>Street: {{ stayDetails.street }}</p>
      </div>
      <div class="flex-1">
        <p>City: {{ stayDetails.city }}</p>
      </div>
      <div class="flex-1">
        <p>State: {{ stayDetails.state }}</p>
      </div>
      <div class="flex-1">
        <p>Country: {{ stayDetails.country }}</p>
      </div>
      <div class="flex-1" *ngIf="stayDetails.hostId">
        <p>Host Name: {{stayDetails.hostName }}</p>
      </div>
      <div class="flex-1" *ngIf="stayDetails.hostId">
        <p>Host Contact : {{stayDetails.hostPhone}}</p>
      </div>

      <div class="flex-1">
        <label for="roomType">Update Avaliability <span class="required-symbol">*</span>:</label>
          <label>
            <input type="radio" name="availability" [(ngModel)]="selectedAvailability" value="yes"> Yes
          </label>
          <label>
            <input type="radio" name="availability" [(ngModel)]="selectedAvailability" value="no"> No
          </label>
      </div>

    </div>

  </div>
  <div class="details-container"> 
      <div class="flex-1 mr-t-20">
        <button  class="btn-attributes"
          (click)="updateStay(stayDetails)">Update</button>
        <button class="btn-attributes" (click)="resetFields()">Back</button>
      </div>
  </div>


</section>