<section *ngIf="!showDetailsView && !addBtnClicked">
  <span *ngFor="let stay of staysAvaliable" class="inline-style">
    <p class="p-title">{{stay.title}}</p>
    <img class="img-attributes" [src]="stay.imgUrl" alt="Stay Image" (click)="navigateToDetails(stay._id)">
  </span>


</section>

<section *ngIf="showDetailsView && !addBtnClicked">
  <div class="details-container">
    <div class="image-section">
      <img class="img-attributes inline-style" [src]="stayDetails.imgUrl" alt="Stay Image">
    </div>
    <div class="details-section">
      <h2>{{ stayDetails.description }}</h2>
      <div class="flex-1">
        <p>Price Per Night: ${{ stayDetails.price }}</p>
      </div>
      <div class="flex-1">
        <p>Room Type: {{ stayDetails.roomType }}</p>
      </div>
      <div class="flex-1">
        <p>Amenities: {{ stayDetails.amenities.join(', ') }}</p>
      </div>
      <div class="flex-1">
        <p>Street: {{ stayDetails.street }}</p>
      </div>
      <div class="flex-1">
        <p>City: {{ stayDetails.city }}</p>
      </div>
      <div class="flex-1">
        <p>State: {{ stayDetails.state }}</p>
      </div>
      <div class="flex-1">
        <p>Country: {{ stayDetails.country }}</p>
      </div>
      <div class="flex-1">
        <p *ngIf="stayDetails.guestId">Guest Name: {{stayDetails.guestName }}</p>
      </div>
      <div class="flex-1">
        <p *ngIf="stayDetails.guestId">Guest Contact : {{stayDetails.guestPhone}}</p>
      </div>
    </div>

  </div>

</section>

<section>
  <button name="addNewAirbnb"
    *ngIf="!addBtnClicked && showDetailsView &&  stayDetails && stayDetails.statusId == pendingStatusId"
    (click)="deleteAirbnb(stayDetails._id)" class="mr-t-20 btn-attributes">Delete Your Home </button>
  <button name="addNewAirbnb" *ngIf="!addBtnClicked" (click)="addAirBnb()" class="mr-t-20 btn-attributes">Airbnb Your
    Home </button>
  <button *ngIf="showDetailsView && !addBtnClicked" class="mr-t-20 btn-attributes" (click)="resetFields()">Back</button>
</section>

<section *ngIf="addBtnClicked" class="my-dialog mr-t-20 mr-l-30">

  <div class="mr-t-20">
    <label for="name" class="mr-r-10">Title <span class="required-symbol">*</span> :</label>
    <input type="text" id="name" class="mr-r-10 input-attributes" name="name" [(ngModel)]="room.title">
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
  </div>

  <div class="mr-t-20">
    <label for="price" class="mr-r-10">Price Per Night (in $)<span class="required-symbol">*</span> :</label>
    <input type="number" id="price" class="mr-r-10 input-attributes" name="price" [(ngModel)]="room.price">
    <label for="roomType">Room Type <span class="required-symbol">*</span>:</label>
    <select class="select-attributes  mr-r-10" id="roomType" name="roomType" [(ngModel)]="room.roomTypeId">
      <option *ngFor="let item of roomTypes" [value]="item._id">{{ item.name }}</option>
    </select>
    <label for="price" *ngIf = "room.roomTypeId == sharedRoomTypeId" class="mr-r-10">No of Guests <span class="required-symbol">*</span> :</label>
    <input type="number" id="price" *ngIf = "room.roomTypeId == sharedRoomTypeId" class="mr-r-10 input-attributes" name="price" [(ngModel)]="room.NoOfGuests">
  </div>



  <div class="mr-t-20">
    <label for="description">Description <span class="required-symbol">*</span> :</label>
    <div class="mr-t-20"><textarea id="description" class="txtbox-attributes" name="description"
        [(ngModel)]="room.description"></textarea></div>
  </div>


  <div class="mr-t-20">
    <label for="street" class="mr-r-10">Street <span class="required-symbol">*</span>:</label>
    <input type="text" id="street" class="mr-r-10 input-attributes" name="street" [(ngModel)]="room.street">
    <label for="city" class="mr-r-10">City <span class="required-symbol">*</span>:</label>
    <input type="text" id="city" class="mr-r-10 input-attributes" name="city" [(ngModel)]="room.city">
  </div>
  <div class="mr-t-20">
    <label for="city" class="mr-r-10">State <span class="required-symbol">*</span>:</label>
    <input type="text" id="city" class="mr-r-10 input-attributes" name="city" [(ngModel)]="room.state">
    <label for="country" class="mr-r-10">Country <span class="required-symbol">*</span>:</label>
    <input type="text" id="country" class="mr-r-10 input-attributes" name="country" [(ngModel)]="room.country">
  </div>

  <div class="mr-t-20">
    <label for="amenities">Amenities:</label>
    <div class="mr-t-20" *ngFor="let amenity of amenities">
      <label class="mr-l-10">
        <input type="checkbox" class="scale-1" [(ngModel)]="amenity.checked" (change)="amentyCHecked()">
        {{ amenity.name }}
      </label>
    </div>
    <div class="mr-t-20" *ngIf="showNewAmenty">
      <input type="text" id="amenty" class="mr-r-10 input-attributes" name="amenty" [(ngModel)]="amentyName" (change)="AddNewAmenty()">
    </div>
  </div>


  <button type="submit" (click)="addAirbnbStay()" [disabled]="!isSaveEnabled()"
    class="mr-t-20 btn-attributes">Save</button>
  <button class="mr-t-20 btn-attributes" (click)="resetFields()">Back</button>

</section>