<section class="">

    <section *ngIf="!isSearchClicked && !showDetailsView && !viewStaysClicked"
        class="my-dialog container search-attributes mr-l-20">
        <section class="wd-50 tile">
            <div class=" mr-t-20">
                <label for="country" class="mr-r-100">Country:</label>
                <input type="text" id="country" name="country" class="input-attributes"
                    [(ngModel)]="searchForm.country">
            </div>

            <div class=" mr-t-20">
                <label for="city" class="mr-r-124">City:</label>
                <input type="text" id="city" class="input-attributes" name="city" [(ngModel)]="searchForm.city">
            </div>

            <div class=" mr-t-20">
                <label for="minPrice" class=" mr-r-86">Min Price:</label>
                <input type="number" id="minPrice" class="input-attributes" name="minPrice"
                    [(ngModel)]="searchForm.minPrice">
            </div>
            <div class=" mr-t-20">
                <label for="maxPrice" class=" mr-r-86">Max Price:</label>
                <input type="number" id="maxPrice" class="input-attributes" name="maxPrice"
                    [(ngModel)]="searchForm.maxPrice">

            </div>
            <div class=" mr-t-20">
                <button type="submit" class="mr-t-20 btn-attributes" (click)="searchStays()">Search</button>
                <button type="submit" class="mr-t-20 btn-attributes" (click)="viewStaysReservedByUser()">View Reserved
                    Stays</button>
            </div>
        </section>

        <section class="wd-50 tile">
            <div class="mr-t-20">
                <label for="amenities">Amenities:</label>
                <div class="mr-t-20" *ngFor="let amenity of amenities">
                    <label class="mr-l-10">
                        <input type="checkbox" class="scale-1" [(ngModel)]="amenity.checked">
                        {{ amenity.name }}
                    </label>
                </div>
            </div>
        </section>

    </section>

    <section *ngIf="viewStaysClicked && staysReserved && !showDetailsView && staysReserved.length > 0 ">
        <span *ngFor="let stay of staysReserved" class="inline-style">
            <p class="p-title">{{stay.title}}</p>
            <img class="img-attributes" [src]="stay.imgUrl" alt="Stay Image" (click)="navigateToDetails(stay._id)">
        </span>
        <div>

            <button class="mr-t-20 btn-attributes" (click)="resetFields()">Back</button>
        </div>
    </section>

    <section *ngIf="isSearchClicked && !showDetailsView" class="mr-l-20">
        <span *ngFor="let stay of staysAvaliable" class="inline-style">
            <p class="p-title">{{stay.title}}</p>
            <img class="img-attributes" [src]="stay.imgUrl" alt="Stay Image" (click)="navigateToDetails(stay._id)">
        </span>
        <div>
            <button class="mr-t-20 btn-attributes" (click)="resetFields()">Back</button>
        </div>
    </section>


    <section *ngIf="showDetailsView && !isBookingClicked" class="mr-l-20">
        <div class="details-container">
            <div class="image-section">
                <img class="img-attributes inline-style" [src]="stayDetails.imgUrl" alt="Stay Image">
            </div>
            <div class="details-section">
                <h2>{{ stayDetails.description }}</h2>
                <div class="flex-1">
                    <p>Price Per Night: ${{ stayDetails.price }}</p>
                </div>
                <div class="flex-1">
                    <p>Room Type: {{ stayDetails.roomType }}</p>
                </div>
                <div class="flex-1" *ngIf="checkUserAGuest() && viewStaysClicked">
                    <p>Amenities: {{ stayDetails.amenities.join(', ') }}</p>
                </div>
                <div class="flex-1" *ngIf="checkUserAGuest() && viewStaysClicked">
                    <p>Street: {{ stayDetails.street }}</p>
                </div>
                <div class="flex-1" *ngIf="checkUserAGuest() && viewStaysClicked">
                    <p>City: {{ stayDetails.city }}</p>
                </div>
                <div class="flex-1">
                    <p>State: {{ stayDetails.state }}</p>
                </div>
                <div class="flex-1">
                    <p>Country: {{ stayDetails.country }}</p>
                </div>
                <div class="flex-1" *ngIf="checkUserAGuest() && viewStaysClicked">
                    <p>Host Name: {{stayDetails.hostName }}</p>
                </div>
                <div class="flex-1" *ngIf="checkUserAGuest() && viewStaysClicked">
                    <p>Host Contact : {{stayDetails.hostPhone}}</p>
                </div>
                <div class="flex-1" *ngIf = "stayDetails.roomType == 'Shared room' && !viewStaysClicked">
                    <label for="price"  class="mr-r-10">No of Guests For Booking<span class="required-symbol">*</span> :</label>
                    <input type="number" id="price" class="mr-r-10 input-attributes" name="price" (change)="checkNoofGuestsValidation()" [(ngModel)]="NoofGuests">
                </div>
                <div class="cardNo-attributes" *ngIf="checkNoofGuestsValidation()">No of Guests exceeded then the mentioned no of guests by host. The max no of guests allowed are 
                    {{this.stayDetails.NoOfGuests - this.stayDetails.NoOfGuestsBooked}}</div>
                <div class="mr-t-20">
                    <label for="checkIn" class="mr-r-10">CheckIn <span class="required-symbol">*</span>:</label>
                    <input type="date" id="checkIn" class="mr-r-10 input-attributes" name="checkIn" (change)="validateDates()" [(ngModel)]="checkIn">
                    <label for="checkOut" class="mr-r-10">Check Out <span class="required-symbol">*</span>:</label>
                    <input type="date" id="checkOut" class="mr-r-10 input-attributes" name="checkOut" (change)="validateDates()" [(ngModel)]="checkOut">
                </div>
                <div class="cardNo-attributes" *ngIf="showError">No avaliability in the selected dates</div>
                
            </div>

        </div>

        <button *ngIf="!viewStaysClicked" class="mr-t-20" name="bookNow" class="btn-attributes"
            (click)="OnStayBookingClicked()">Book Now</button>
        <button *ngIf="!viewStaysClicked" class="mr-t-20 btn-attributes" (click)="resetFields()">Back</button>

        <button *ngIf="viewStaysClicked" class="mr-t-20 btn-attributes" (click)="backClicked()">Back</button>

    </section>

    <section *ngIf="isBookingClicked && !isAddNewAccountClicked" class="mr-l-20">
        
        <div class="mr-t-20">
            <h2>Enter payment details</h2>
        </div>
        <div class="mr-t-20" *ngIf="accountsAvaliable && accountsAvaliable.length > 0">
            <label>Choose Card</label>
            <select class="select-attributes" [(ngModel)]="cardSelected">
                <option *ngFor="let account of accountsAvaliable" [value]="account._id">{{ account.accountNumber }}
                </option>
            </select>

        </div>
       
        <div class="mr-t-20">
            <button type="submit" *ngIf="isBookingClicked && accountsAvaliable &&  accountsAvaliable.length > 0"
                [disabled]="!cardSelected" class="btn-attributes" (click)="bookNowAction()">Ok</button>
            <button type="submit" [disabled]="cardSelected" class="btn-attributes"
                (click)="onAddNewAccountClicked()">Add
                New Account</button>
            <button class="btn-attributes" (click)="resetFields()">Back</button>
        </div>
    </section>

    <section *ngIf="isAddNewAccountClicked">
      
        <div class="mr-t-20">
            <label>Choose Account Type</label>
            <select class="select-attributes" [(ngModel)]="selectedPaymentMethod" name="paymentMethod">
                <option value="saving account">Saving Account</option>
                <option value="checking account">Checking Account</option>
            </select>
        </div>
        <div class="mr-t-20">
            <label for="cardNumber" class="mr-r-145">Name On Account</label>
            <input type="text" id="cardNumber" class="wd-300 input-attributes"
                name="cardNumber" [(ngModel)]="cardName" required>
        </div>
        <div class="mr-t-20">
            <label for="cardNumber" class="mr-r-120">Bank Routing Number</label>
            <input type="text" id="cardNumber"  class="wd-300 input-attributes" maxlength="9"
                name="cardNumber" [(ngModel)]="routingNumber" required>
        </div>
        <div class="mr-t-20">
            <label for="cardNumber" class="mr-r-160">Account Number</label>
            <input type="text" id="cardNumber" (input)="validateAccountNumber()" class="wd-300 input-attributes" maxlength="17"
                name="cardNumber" [(ngModel)]="accountNumber" required>
        </div>

        <div class="mr-t-20">
            <label for="cardNumber" class="mr-r-103">Re-enter Account Number</label>
            <input type="text" id="cardNumber" (input)="validateAccountNumber()"  maxlength="17" class="wd-300 input-attributes"
                name="cardNumber" [(ngModel)]="reEnteraccountNumber" required>
        </div>

        <div class="cardNo-attributes" *ngIf="showAccNumError">Checking Account number do not match</div>
        <div class="mr-t-20">
            <button type="submit" class="btn-attributes" (click)="bookNowAction()">Ok</button>
            <button class="mr-t-20 btn-attributes" (click)="resetFields()">Back</button>
        </div>
    </section>